@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;

    --fonte: "Inter", sans-serif;
    --size-titulo: 3rem;
    --size-promocao: 1.75rem;
    --size-sub-texto: 0.75rem;
    --size-button: 1rem;
    --size-rodape: 0.875rem;

    --weight-regular: 400;
    --weight-bold: 500;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    font-weight: var(--weight-regular);
    color: var(--branco-principal);
}

.principal {
    background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 125px 0px 0px 54px;
}

.imagem__combo {
    width: 348px;
    height: 100px;
}

.botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-button);
    display: block;
}

.botao__simples {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-button);
    display: block;
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    font-weight: regular;
}

.regulamento {
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    font-size: var(--size-sub-texto);

}

.texto__titulo {
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-promocao);
    font-weight: var(--weight-bold);
}

footer {
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 100% 120px 99.01px;
}

.rodape__links {
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte);
    size: var(--size-sub-texto);
    gap: 80px;
}

.rodape__menu__link {
    gap: 16px;
    text-decoration: none;

}

.rodadireitos__autorais {
    text-align: center;
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    size: var(--size-rodape);
}