@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Cores principais */
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --botao1-mouse: #167bf7c5;
    --botao2-mouse: #34343594;

    /* Tipografia */
    --fonte: "Inter", sans-serif;
    --size-titulo: 2.5rem;
    --size-promocao: 1.75rem;
    --size-sub-texto: 0.75rem;
    --size-button: 1rem;
    --size-rodape: 0.875rem;

    --weight-regular: 400;
    --weight-bold: 500;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Estilos do body */
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    color: var(--branco-principal);
    font-weight: var(--weight-regular);
    font-size: var(--size-button);
}

/* Estilo para parágrafos */
p {
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    font-size: var(--size-button);
    font-weight: var(--weight-regular);
}

/* Container principal em grid */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Imagem de fundo na primeira seção */
.principal {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

/* Segunda coluna com conteúdo */
.secundario {
    align-items: center;
    margin: 0 10em;
}

/* Título da apresentação */
.titulo__apresentacao {
    margin-bottom: 0.2em;
}

/* Texto descritivo da apresentação */
.texto__apresentacao {
    color: var(--cinza-secundario);
}

/* Container de destaque do combo */
.combo {
    margin: 0 6em;
}

.imagem__combo {
    margin: 1.375em 0 3.375em 0;
}

.combo__apresentacao {
    font-size: var(--size-titulo);
    font-weight: var(--weight-bold);
    padding: 2em;
}

/* Botão azul principal */
.botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    font-family: var(--fonte);
    display: block;
    margin-bottom: 1em;
    color: var(--branco-principal);
}

.botao:hover {
    background-color: #5799e9;
}

/* Botão com borda branca */
.botao__simples {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-button);
    display: block;
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    font-weight: var(--weight-regular);
}

.botao__simples:hover {
    background-color: var(--botao2-mouse);
}

/* Texto pequeno usado em botões ou descrições */
.menor {
    font-family: var(--fonte);
    font-size: var(--size-button);
    display: inline-block;
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    font-weight: var(--weight-regular);
    padding-top: 1em;
}

/* Aviso de regulamento */
.regulamento {
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    font-size: var(--size-sub-texto);
    margin: 0.625em;
}

/* Imagens principais */
.img__dispositivo {
    width: 80%;
}

/* Telas e notebook com margens específicas */
.telas {
    margin: 0 27.6rem 0 4.3rem;
}

.notebook {
    margin: 0 0 0 8.81rem;
}

/* Lista de dispositivos */
.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    list-style: none;
    justify-content: center;
    display: flex;
    margin: 5em 0 9.06em 0;
}

.dispositivos__titulo {
    font-size: var(--size-titulo);
    color: var(--branco-principal);
}

/* Título de seções */
.texto__titulo {
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-promocao);
    font-weight: var(--weight-bold);
}

/* Rodapé */
footer {
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

/* Links do rodapé */
.rodape__links {
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-sub-texto);
    margin: 0 9.8em;
    margin-top: 2.54em;
}

.rodape__menu__link {
    margin: 1em;
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__menu__link:hover {
    color: var(--botao-azul);
}

.rodape__menu__link:active {
    color: purple;
}

/* Texto de direitos autorais */
.rodape__direitos__autorais {
    text-align: center;
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    font-size: var(--size-rodape);
    margin: 0 7.5em 6.18em;
}

.rodape__texto {
    margin: 1.5em;
}

/* RESPONSIVO para telas até 768px */
@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .imagem__combo {
        width: 50vw;
    }

    .combo {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0 ;
        text-align: center;
    }

    .img__dispositivo,
    .telas {
        width: 50vw;
        margin: 0;
    }

    .combo__apresentacao {
        padding: 1em;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__direitos__autorais {
        margin: 2em;
    }

    .rodape__texto {
        display: block;
        margin: 1em 1em 0;
    }

    .rodape__menu__link {
        display: block;
        margin: 0;
    }
}