@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;

    --fonte: "Inter", sans-serif;
    --size-titulo: 2.5rem;
    --size-promocao: 1.75rem;
    --size-sub-texto: 0.75rem;
    --size-button: 1rem;
    --size-rodape: 0.875rem;

    --weight-regular: 400;
    --weight-bold: 500;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    color: var(--branco-principal);
    font-weight: var(--weight-regular);
    font-size: var(--size-button);
}

p{
    
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    font-size: var(--size-button);
    font-weight: var(--weight-regular);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.principal {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.combo {
    margin: 0 6em;
}

.imagem__combo {
    margin: 1.375em 0 3.375em 0;
}

.botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    font-family: var(--fonte);
    display: block;
    margin-bottom: 1em;
    color: var(--branco-principal);
}

.botao__simples {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-button);
    display: block;
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    font-weight: regular;
}

.regulamento {
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    font-size: var(--size-sub-texto);
    margin: 0.625em;
}










.secundario{
    align-items: center;
    margin: 0 10em;
}

.img__dispositivo{
    width: 80%;
}

.combo__apresentacao{
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-titulo);
    font-weight: var(--weight-bold);
    text-align: left;
    padding: 2em;
}

.titulo__apresentacao{
margin-bottom: 0.2em;
}

.texto__apresentacao{
    color: var(--cinza-secundario);

}



.dispositivos{
    text-align: center;
}

.dispositivos__lista{
    list-style: none;
    justify-content: center;
    display: flex;
    margin: 5em 0 9.06em 0;
}



.dispositivos__titulo{
    font-size: var(--size-titulo);
    color: var(--branco-principal);
}

.menor{
    font-family: var(--fonte);
    font-size: var(--size-button);
    display: inline-block;
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    font-weight: regular;
    padding-top: 1em;
}





.texto__titulo {
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: var(--size-promocao);
    font-weight: var(--weight-bold);
}



.telas{
    margin: 0 27.6rem 0 4.3rem;
}
.notebook{
    margin: 0 0 0 8.81rem ;
}
footer {
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.rodape__links {
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte);
    size: var(--size-sub-texto);
    margin-top: 2.54em;
}

.rodape__menu__link {
    margin: 1em;
    text-decoration: none;
    color: var(--branco-principal);

}

.rodape__direitos__autorais {
    text-align: center;
    color: var(--cinza-secundario);
    font-family: var(--fonte);
    size: var(--size-rodape);
    margin: 0 7.5em 6.18em;
}
.rodape__texto{
    margin: 1.5em;
}